* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #3797a4;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}
button {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.form-container {
  background-color: white;
  width: 30%;
  margin: auto;
  margin-top: 200px;
  border-radius: 15%;
  filter: drop-shadow(0px 1px 1px black);
}
.form-box {
  display: flex;
  flex-direction: column;
  padding: 100px;
}
input[type="text"],
input[type="password"] {
  height: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.submit-btn {
  height: 30px;
  width: 150px;
  margin-top: 20px;
  margin-left: 100px;
  background: cyan;
}

.side-nav {
  background: #303960;
  height: 100vh;
  width: 30vh;
  display: flex;
  flex-direction: column;
  position: fixed;
}

.nav-btn {
  background-color: #00a8cc; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 40px;
}

#logout-btn {
  background-color: #ed6663;
  margin-top: 200px;
}

#display-btn {
  margin-top: 100px;
}

.main-container {
  height: 100vh;
  display: flex;
}

.table-container {
  display: flex;
  justify-content: center;
}

.insert-form {
  background: white;
  display: flex;
  flex-direction: column;
  margin-left: 70vh;
  justify-content: center;
  padding: 70px 100px;
  margin: auto;
  filter: drop-shadow(0px 1px 1px black);
  border-radius: 15%;
}

#error-msg {
  color: red;
}

.insert-heading {
  margin-bottom: 40px;
}

.insert-form h4 {
  margin: 10px;
}

.search-container {
  background-color: white;
  display: flex;
  flex-direction: column;
  height: 400px;
  margin-left: 90vh;
  margin-top: 15vh;
  padding: 70px 100px;
  border-radius: 15%;
  filter: drop-shadow(0px 1px 1px black);
}

.searchHeading {
  margin-bottom: 30px;
}

.searchbtn,
#json-btn,
#db-btn {
  background-color: #00a8cc; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 40px;
}

#json-btn,
#db-btn {
  margin: 20px;
  font-size: 20px;
}

input[type="text"] {
  width: 100%;
  padding: 12px 5px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

label {
  font-weight: 600;
}

#message {
  margin-top: 20px;
  margin-right: 200px;
  color: red;
  font-size: 30px;
  background-color: white;
}

#insert-message {
  color: #303960;
  margin-top: 20px;
  margin-right: 200px;
  position: absolute;
  background: white;
  left: 40%;
  top: 85%;
}

#myTable,
#message {
  position: absolute;
  background: white;
  left: 40%;
  top: 60%;
}

#myDisplayTable {
  position: absolute;
  background: white;
  left: 40%;
  top: 10%;
}

table {
  border-collapse: collapse;
}

table,
th,
td {
  border: 1px solid black;
}

th,
td {
  padding: 15px;
  text-align: left;
}

.heading-format {
  background-color: #ccc;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  width: 200px;
}

.display-heading {
  color: white;
  margin-left: 600px;
  margin-top: 50px;
  margin-bottom: 20px;
}

.welcome-message {
  padding-top: 200px;
  padding-left: 50px;
}

.login-heading {
  padding-bottom: 50px;
  padding-left: 100px;
}
